<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <title>PhotoPac | PC</title>
</head>
<body>
    <div class="section-1">
        <div id="nav-bar">
            <ul id="nav-left">
                <li>PhotoPC</li>
                <li>About</li>
            </ul>
            <ul id="nav-right">
                <li>Join Us</li>
                <li>Explore</li>
                <li>Pricing</li>
            </ul>
        </div>
        <div id="form-search">
            <form action="" method="GET">
                <legend id="search-header">
                    Emotions through Photos and Capturing the moments that captivate your heart
                </legend>
                <input type="text" name="search" id="search_query" placeholder="Search for a photo">
            </form>
        </div>
    </div>
    <script src="javascript/index_page.js"></script>
</body>
</html>