<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Register! | PC</title>
</head>
<body>
    <div class="container-1">
        <div id="register-contents">
            <div id="logo">
                <img src="" alt="logo">
                <h3>PhotoPack</h3>
            </div>
            <form action="/" method="POST" id="form-register">
                <legend id="form-legend">Create an account for free with Us</legend>
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="E-mail address">
                <p id="form-caption">By signing up you agree to receive our newsletter</p>
                <label class="form-check-label">
                    <input type="checkbox" name="agreeTerms"> 
                    I agree to the <a href="">Terms of Service</a> and 
                    <a href="">Privacy Policy</a> 
                  </label>
                <button type="submit" class="btn btn-primary" id="submit">Register</button>
            </form>
        </div>
        <div id="cover">
            <div id="cover-contents">
                <h3>JOIN PHOTOPAC</h3>
                <p>Join the leading PhotoPac collection in Tanzania</p>
            </div>
        </div>
    </div>
    <script src="javascript/register_page.js"></script>
</body>
</html>